/* Background Color */
html {
  background: #99E6FF;
}


/* Body */
body {
  margin: 0 auto;
  max-width: 800px;
}


/* Images */
img {
  width: 100%;
}

.car { 
  display:block;
  margin: 40px auto;
  padding: 0;
}

/* Links */
a {
  background: transparent;
  border: 0;
  display: block;
  float: left;
  margin: 0;
  outline: 0;
  padding: 0;
  width: 33%; 
}

